%div
  %p
    Tutaj będzie input
    = form_with scope: :file, local: true do |f|
      %p
        = f.label :name
        %br
        = f.text_field :name

      %p
        = f.submit

    = form_for scope: :file, local: true do |f|
      %p
        = f.label :name
        %br
        = f.text_field :name

      %p
        = f.submit
