%html
  %head
    %title
      OESK Archiver

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .container-fluid.main-page-all
      .row
        .col-xs-3
          %ul.nav.nav-sidebar
            %li#sidebar_main_page
              = link_to "Strona główna", root_path
            %li#sidebar_file_list
              = link_to "Lista plików", uploaded_files_path
            %li#sidebar_load_file
              = link_to "Załaduj plik", new_uploaded_file_path
            %li#sidebar_ratio_to_size
              = link_to "Stopień kompresji / rozmiar", uploaded_files_ratio_to_size_path
            %li#sidebar_time_to_size
              = link_to "Czas kompresji / rozmiar", uploaded_files_time_to_size_path
        .col-xs-9.main-page-content
          - flash.each do |name, msg|
            - if msg.is_a?(String)
              %div{:class => "alert alert-dismissible alert-#{name.to_s == 'notice' ? 'success' : 'danger'}"}
                %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
                = content_tag :div, msg, :id => "flash_#{name}"
          = yield
